

<html>
    <head>
        <title>Registration</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Register</h1>
                </div>
    
                <div class="login-form">
    
                    <form action="/register" method="post">
                        <div class="control-group">
                            <input type="text" class="login-field" placeholder="Full Name" name="name">
                        </div>
        
                        <div class="control-group">
                            <input type="text" class="login-field" placeholder="Full Address" name="address">
                        </div>
        
                        <div class="control-group">
                        <input type="text" class="login-field" placeholder="username" name="username">
                        </div>
        
                        <div class="control-group">
                        <input type="password" class="login-field" value="" placeholder="password" name="password">
                        </div>
        
                        <button class="btn btn-primary btn-large btn-block" type="submit">Register</button>
                        <a class="login-link" href="/login">Already Registered?</a>
                    </form>
    
                </div>
            </div>
        </div>
    </body>


</html>